[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
bump2version = "*"
flake8 = "*"
coverage = "*"
pytest = "*"

[packages]
{{ cookiecutter.package_name }} = {path = ".", editable = true}
